<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>SmartEng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="src/styles/style.css">
    <link rel="stylesheet" href="src/styles/modalStyles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/x-template" id="methodsInfo">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">
  
                <div class="modal-header">
                  <a class="modal-default-button" @click="$emit('close')">
                    x
                  </a>
                  <slot name="header">
                    
                  </slot>
                </div>
  
                <div class="modal-body">
                  <slot name="body">
                    
                  </slot>
                </div>
  
                <div class="modal-footer">
                  <slot name="footer">
                    
                    
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </script>
</head>

<body>
    <div id="app">
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
            <!--
      you can use custom content here to overwrite
      default content
    -->
            <h3 slot="header">choose a method</h3>
            <a href="cards.html" slot="body" class="popupCard">cards</a>
            <a href="rus-eng.html" slot="body"class="popupCard">rus-eng</a>
            <a href="eng-rus.html" slot="body" class="popupCard">eng-rus</a>
        </modal>
        <modal v-if="showSignin" @close="showSignin = false">
         <input size="40" slot="body" >
         <input size="40" slot="body" >
         <a href="#" slot="body">sign in</a>
      </modal>
      <modal v-if="showSignup" @close="showSignup = false">
        <input size="40" slot="body">
        <input size="40" slot="body" >
        <input size="40" slot="body" >
        <a href="#" slot="body">sign up</a>
    </modal>
        <header>
            <nav class="shadow">
                <div class="learnButtons">
                    <a href="#">learn new words</a>
                    <a href="#">test</a>
                    <a href="methods.html">methods</a>
                </div>
                <div class="loginButtons">
                    <a href="#" id="show-modal" @click="showSignin = true" class="shadow">sign in</a>
                    <a href="#" id="show-modal" @click="showSignup = true" class="shadow">sign up</a>
                </div>
            </nav>
        </header>
        <section class="logo">
            <img src="src/imgs/logo.png" alt="SmartEng">
        </section>
        <section class="description">
            <div class="shadow">
                <h2>Изучайте новые слова, выбирая подходящую вам по типу восприятия методику. Упрощайте обучение с
                    SmartEng</h2>
            </div>
        </section>
        <section class="cards">
            <div class="learnWords shadow">
                <h2>learn new words</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="shadow" id="show-modal" @click="showModal = true">начать</a>
            </div>
            <div class="learnType shadow">
                <h2>find your type</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <a href="#" class="shadow">пройти тест</a>
            </div>
            <div class="learnMethodics shadow">
                <h2>methods</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nihil</p>
                <a href="methods.html" class="shadow">подробнее</a>
            </div>
        </section>
    </div>
    <script src = "src/scripts/vueScript.js"></script>
</body>

</html>