nav{
    width: 100%;
    height: 100px;
    background-color: #3498DB;
}
nav a{
    color: white;
    font-size: 28px;
}
.loginButtons a{
    margin-left: 20px;
}
.learnButtons a{
    margin-right: 20px;
    border-radius: 15px;
    padding: 5px 10px;
}
a{
    color: white;
    text-decoration: none;
}
.learnButtons, .loginButtons{
    display: inline-block;
    margin-top: 30px;
}
.learnButtons{
    margin-left: 10%;
}
.loginButtons{
    float: right;
    margin-right: 10%;
}
.loginButtons a{
    background-color: skyblue;
    padding: 10px 20px;
    border-radius: 15px;
}
.logo img{
    margin: 40px 0px;
}
.description div{
    width: 800px;
    background: rgb(52, 152, 219, 0.7);
    padding: 30px;
    border-radius: 20px;
}
.logo, .description{
    margin: 0 10%;
}
.cards div{
    margin-top: 40px;
    background-color: rgb(52, 152, 219);
    width: 20%;
    height: 420px;
    display: inline-block;
    border-radius: 20px;
    vertical-align: top;
}
.cards div p{
    text-align: left;
    padding: 0 20px;
    font-size: 32px;
}
.cards{
    text-align: center;
}
.cards a{
    width: 60%;
    vertical-align: bottom;
    display: inline-block;
    background-color: skyblue;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0px;
    right: 12%;
}
.cards div:nth-child(-n + 2){
    margin-right: 10%;
}
.description h2{
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
a{
    font-size: 28px;
}
p{
    color: white;
    font-size: 28px;
}
h2{
    color: white;
    font-size: 38px;
}
h3{
    color: white;
    font-size: 32px;
}
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: url("../imgs/background.png");
}
a:hover{
    background-color: rgba(255, 255, 0, 0.925);
    color: rgba(43, 43, 141, 0.897);
}
.cards div{
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}
